parameters:
	ignoreErrors:
		-
			message: '#^Default value of the parameter \#4 \$customer \(array\{\}\) of method Korbytes\\Payments\\DTOs\\PaymentData\:\:__construct\(\) is incompatible with type array\{name\: string, email\: string, phone\?\: string\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/DTOs/PaymentData.php

		-
			message: '#^Method Korbytes\\Payments\\DTOs\\PaymentData\:\:getCustomerEmail\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/DTOs/PaymentData.php

		-
			message: '#^Method Korbytes\\Payments\\DTOs\\PaymentData\:\:getCustomerName\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/DTOs/PaymentData.php

		-
			message: '#^Property Korbytes\\Payments\\DTOs\\PaymentData\:\:\$customer on left side of \?\? is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 2
			path: src/DTOs/PaymentData.php

		-
			message: '#^Default value of the parameter \#4 \$customer \(array\{\}\) of method Korbytes\\Payments\\DTOs\\SubscriptionData\:\:__construct\(\) is incompatible with type array\{name\: string, email\: string, phone\?\: string\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Method Korbytes\\Payments\\DTOs\\SubscriptionData\:\:getCustomerEmail\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Method Korbytes\\Payments\\DTOs\\SubscriptionData\:\:getCustomerName\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Property Korbytes\\Payments\\DTOs\\SubscriptionData\:\:\$customer on left side of \?\? is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 2
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$currency\.$#'
			identifier: property.notFound
			count: 1
			path: src/Drivers/MercadoPagoDriver.php

		-
			message: '#^Offset ''id'' on array\{id\: string, title\: string, description\?\: string, quantity\: int, unit_price\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Drivers/MercadoPagoDriver.php

		-
			message: '#^Offset ''quantity'' on array\{id\: string, title\: string, description\?\: string, quantity\: int, unit_price\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Drivers/MercadoPagoDriver.php

		-
			message: '#^Offset ''title'' on array\{id\: string, title\: string, description\?\: string, quantity\: int, unit_price\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Drivers/MercadoPagoDriver.php

		-
			message: '#^Offset ''unit_price'' on array\{id\: string, title\: string, description\?\: string, quantity\: int, unit_price\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Drivers/MercadoPagoDriver.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$amount\.$#'
			identifier: property.notFound
			count: 3
			path: src/Drivers/WompiDriver.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$currency\.$#'
			identifier: property.notFound
			count: 3
			path: src/Drivers/WompiDriver.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$interval\.$#'
			identifier: property.notFound
			count: 1
			path: src/Drivers/WompiDriver.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$interval_count\.$#'
			identifier: property.notFound
			count: 1
			path: src/Drivers/WompiDriver.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Subscription.php
